<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mahtavin TODO-sovellus</title>
    </head>
    <body>
        <span th:text="${tekija.nimi}">tyyppi</span>
        <ul>
            
            <li th:each="tehtava : ${tehtavat}">
                <div th:switch ="${tehtava.done}">
                    <p th:case ="true" ><strike><span th:text="${tehtava.task}">tehtava</span></strike> <a th:href="@{~/tehtavat/poista/{id}(id=${tehtava.id})}">poista</a></p>
                        <p th:case ="false" > <a th:href="@{~/tehtavat/tehty/{id}(id=${tehtava.id})}">Merkitse tehdyksi</a> <span th:text="${tehtava.task}">tehtava</span> <a th:href="@{~/tehtavat/poista/{id}(id=${tehtava.id})}">poista</a> </p>
                </div>
                
            </li>
        </ul>

        <form method="POST">
            <input type="text" name="tehtava"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>
